@import "./normalize.css";
@import "./header.css";
@import "./sort.css";
@import "./filters.css";
@import "./catalog.css";

.wrapper {
  transition: 0.3s;
  width: 100%;
  max-width: 1440px;
  padding: 40px 60px;
}

h1 {
  font-size: 2.25rem;
  font-weight: 800;
}

main {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 40px;
  }
}

@media screen and (max-width: 415px) {
  .wrapper {
    padding: 20px;
  }
}
