.button {
  transition: 0.3s;

  min-width: 150px;
  height: 50px;

  padding: 0 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--color-primary);
  border-radius: 15px;
}

.button p {
  transition: 0.3s;

  color: var(--color-primary);
  font-size: 1rem;
  font-family: "Nunito-Bold";
}

.button svg {
  transition: 0.3s;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--color-primary);
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-primary);
}

.button:hover p {
  color: var(--color-white);
}

.button:hover svg {
  fill: var(--color-white);
}

.button:active {
  transform: translateY(5px);
}

.button.filled {
  background-color: var(--color-primary);
}

.button.filled p {
  color: var(--color-white);
}

.button.filled svg {
  fill: var(--color-white);
}

.button.filled:active {
  opacity: 0.75;
}
