header {
  width: 100%;
  padding-bottom: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #ededed;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-image {
  margin-right: 15px;
}

.logo-image img {
  width: 36px;
  height: 36px;
}

.logo-content h4 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.logo-content p {
  white-space: nowrap;
  color: #7b7b7b;
  font-size: 1rem;
}

.search-block {
  position: relative;
  max-width: 760px;
  width: 100%;
  margin: 0 40px;
}

.search-block input {
  width: 100%;
  padding: 14px 48px;

  background: #f9f9f9;

  color: #7b7b7b;
  font-size: 1rem;

  border: none;
  border-radius: 15px;
}

.search-block input::placeholder {
  color: #c0c0c0;
}

.search-block .search-icon {
  position: absolute;
  left: 12px;
  top: 50%;

  transform: translateY(-40%);
}

.search-block .search-icon svg {
  width: 16px;
  height: 16px;

  fill: #adadad;
}

.account-block {
  display: flex;
}

.account-block .auth-btn {
  transition: 0.3s;
  margin-right: 15px;
  width: 110px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border: 1px solid #fe5f00;
  border-radius: 15px;
}

.account-block .auth-btn svg {
  width: 16px;
  height: 16px;

  fill: #fe5f00;
}

.account-block .auth-btn p {
  margin-left: 5px;
  color: #fe5f00;
  font-size: 1rem;
  font-weight: 600;
}

.account-block .auth-btn:hover,
.account-block .cart-btn:hover {
  cursor: pointer;
  background: #fe5f00;
}

.account-block .auth-btn:hover p {
  color: #ffffff;
}

.account-block .auth-btn:hover svg,
.account-block .cart-btn:hover svg {
  fill: #ffffff;
}

.account-block .auth-btn:active,
.account-block .cart-btn:active {
  transform: translateY(5px);
}

.account-block .cart-btn {
  transition: 0.3s;
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border: 1px solid #fe5f00;
  border-radius: 15px;
}

.account-block .cart-btn svg {
  width: 16px;
  height: 16px;

  fill: #fe5f00;
}

@media screen and (max-width: 768px) {
  header {
    padding-bottom: 20px;
  }
  .logo-content h4,
  .logo-content p {
    display: none;
  }
  .logo-image {
    margin-right: 0;
  }
  .search-block {
    margin: 0 20px;
  }
  .account-block .auth-btn {
    width: 50px;
  }
  .account-block .auth-btn p {
    display: none;
  }
}

@media screen and (max-width: 415px) {
  .logo-image img {
    width: 24px;
    height: 24px;
  }
  .search-block input {
    padding: 12px 36px;
  }
  .account-block .auth-btn {
    margin-right: 7px;
  }
  .account-block .auth-btn,
  .account-block .cart-btn {
    width: 30px;
    height: 30px;
  }
}
