.intro {
  background: url("../assets/img/background.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.intro .content-left {
  max-width: 40%;
}

.intro-buttons {
  display: flex;
}

.intro p {
  margin: 40px 0;
}

.intro-buttons .button:nth-child(2) {
  margin-left: 40px;
}

@media screen and (max-width: 1200px) {
  .intro .content-left {
    max-width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .intro .content-left {
    max-width: 100%;
  }
  .intro-buttons .button:nth-child(2) {
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .intro-buttons {
    flex-direction: column;
  }
  .intro-buttons .button:nth-child(2) {
    margin-left: 0;
  }
  .intro-buttons .button {
    margin-top: 20px;
  }
}
