.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  height: 400px;
  margin: 80px auto;
  padding: 0 60px;

  display: flex;
  align-items: center;

  background: #fff7ee;
  border-radius: 15px;
}

.intro-content {
  z-index: 9;
}

.intro-content h6 {
  margin-top: 10px;
}

.intro-btn {
  transition: 0.3s;
  height: 50px;
  width: 160px;
  margin-top: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #fe5f00;
  border-radius: 15px;
}

.intro-content .intro-btn {
  background: #fff7ee;
}

.intro-btn p {
  margin-top: 0;
  margin-right: 5px;
  color: #fe5f00;
}

.intro-btn svg {
  transition: 0.3s;
  width: 12px;
  height: 12px;

  fill: #fe5f00;
}

.intro-btn:hover {
  cursor: pointer;
  background: #fe5f00;
}

.intro-btn:hover p {
  color: #ffffff;
}

.intro-btn:hover svg {
  fill: #ffffff;
}

.intro-image {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -15%;
}

.intro-image img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 60px;
  }
  .intro-image {
    bottom: -20%;
    right: -10%;
    max-width: 400px;
  }
}

@media screen and (max-width: 415px) {
  .container {
    padding: 0 20px;
  }
}

.outro {
  width: 100%;
  height: 320px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url("../assets/img/bh.png") no-repeat center / cover;
  background-attachment: fixed;
}

.outro-content {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.outro-content h1 {
  text-align: center;
  color: #ffffff;
}

footer {
  width: 100%;
  padding: 60px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #202020;
}

footer h6 {
  color: #ffffff;
  text-align: center;
}

footer ul {
  width: 100%;
  margin-top: 20px;

  display: flex;
  justify-content: space-around;
}

footer ul li a {
  color: #ffffff;
}

footer ul li a:hover {
  text-decoration: underline;
}
