@font-face {
  font-family: "Proxima-Regular";
  src: url("../assets/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito-Medium";
  src: url("../assets/fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("../assets/fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito-ExtraBold";
  src: url("../assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  --color-primary: #fe5f00;
  --color-secondary: #fff7ee;

  --color-white: #ffffff;
  --color-gray: #5f5f5f;
  --color-black: #1e1e1e;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Nunito", Roboto, system-ui, Tahoma, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-black);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--color-black);
  letter-spacing: 0.05rem;
  line-height: 150%;
}

h1 {
  font-size: 3rem;
  font-family: "Nunito-Extrabold";
}

h2 {
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-family: "Nunito-Extrabold";
}

h2.left {
  text-align: left;
}

h2::after {
  content: "";
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 3px;

  background: var(--color-primary);
}

h2.left::after {
  width: 120px;
}

h6 {
  font-size: 1.5rem;
  font-family: "Nunito-Bold";
}

p {
  font-size: 1.25rem;
  font-family: "Nunito-Medium";
}

section {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  padding: 60px 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
}

.content-center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin-right: 40px;
}

.content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.preview {
  width: 100%;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  row-gap: 60px;
}

@media screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  h6 {
    font-size: 1.25rem;
  }

  .content-between {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .content-left {
    margin-right: 0;
  }
}

.about .content-left {
  max-width: 760px;
}

.about p {
  margin-top: 40px;
  text-align: justify;
}

.about-illustrations {
  width: 380px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.about-illustrations > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.about-illustrations > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.about-illustrations > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.about-illustrations > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.about-illustrations .box {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #fff7ee;
  border-radius: 15px;
}

.about-illustrations .box img {
  width: 67%;
  height: 67%;

  mix-blend-mode: multiply;
}

@media screen and (max-width: 1200px) {
  .about-illustrations {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .about p {
    margin-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  .about-illustrations {
    width: 100%;
  }
}

.button {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

  min-width: 150px;
  height: 50px;

  padding: 0 20px;
  margin-top: 40px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  border: 1px solid var(--color-primary);
  border-radius: 15px;
}

.button,
.button p {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

  color: var(--color-primary);
  font-size: 1rem;
  font-family: "Nunito-Bold";
}

.button svg {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--color-primary);
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-primary);
}

.button:hover p {
  color: var(--color-white);
}

.button:hover svg {
  fill: var(--color-white);
}

.button:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.button.filled {
  background-color: var(--color-primary);
}

.button.filled,
.button.filled p {
  color: var(--color-white);
}

.button.filled svg {
  fill: var(--color-white);
}

.button.filled:active {
  opacity: 0.75;
}

.catalog-container {
  max-width: 1440px;
  width: 100%;
  margin: 60px auto;
  padding: 20px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.catalog {
  width: 100%;
  margin: 40px 0;

  gap: 50px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
}

.menu-nav {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.menu-nav li {
  min-width: 120px;
  height: 40px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: var(--color-secondary);
  border-radius: 10px;
}

.menu-nav li:hover {
  cursor: pointer;
}

.menu-nav li.active {
  background: var(--color-primary);
}

.menu-nav li.active p {
  color: var(--color-white);
}

.product {
  width: 100%;
  max-width: 320px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 260px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #fff7ee;
  border-radius: 15px;
}

.product-image:hover {
  cursor: pointer;
}

.product-image:hover button {
  opacity: 1;
}

.product-image img {
  width: 212px;
  max-width: 100%;

  aspect-ratio: 1 / 1;

  mix-blend-mode: multiply;
}

.product-image button {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;

  opacity: 0;

  background: transparent;
  border: none;
  cursor: pointer;
}

.product-image svg {
  width: 24px;
  height: 24px;
}

.product-content {
  width: 100%;
  margin-top: 15px;
}

.product h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.product p {
  margin-top: 7px;
  color: #b1b1b1;
  font-size: 0.9rem;
  text-align: justify;
  line-height: 150%;
}

.product-actions {
  width: 100%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-actions .price {
  font-size: 1.25rem;
}

.product-actions .price span {
  font-weight: 700;
}

.product-actions button {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 16px;

  color: #fe5f00;
  font-size: 1rem;
  font-weight: 600;
  background: #fffaf4;
  border: none;
  border-radius: 15px;
}

.product-actions button svg {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 12px;
  height: 12px;

  fill: #fe5f00;
}

.product-actions button:hover {
  cursor: pointer;
  color: #ffffff;
  background: #fe5f00;
}

.product-actions button:hover svg {
  fill: #ffffff;
}

.product-actions button:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.menu-pag {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.menu-pag li {
  width: 50px;
  height: 50px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: var(--color-secondary);
  border-radius: 10px;
}

.menu-pag li:hover {
  cursor: pointer;
}

.menu-pag li.active {
  background: var(--color-primary);
}

.menu-pag li p {
  color: var(--color-primary);
  font-family: "Nunito-Bold";
}

.menu-pag li.active p {
  color: var(--color-white);
}

.menu-pag li svg {
  width: 18px;
  height: 18px;

  fill: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .catalog-container {
    margin: 40px auto;
  }
  .menu-nav {
    padding: 10px 0;
    margin: 20px 0;
    width: 100%;
    overflow-x: scroll;

    -webkit-column-gap: 20px;

    -moz-column-gap: 20px;

    column-gap: 20px;
  }
  .menu-pag {
    margin-top: 20px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

@media screen and (max-width: 560px) {
  .menu-pag {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px;
}

.contacts li {
  margin-top: 20px;
}

.map-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 720px;

  aspect-ratio: 3 / 2;
  border-radius: 20px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .contacts {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contacts li {
    text-align: center;
  }
  .map-container {
    max-width: 100%;
    margin-top: 40px;
  }
}

footer {
  width: 100%;
  padding: 80px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--color-secondary);
}

footer h2 {
  font-size: 2.5rem;
}

footer p {
  margin: 40px 0;
  max-width: 1080px;

  text-align: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-column-gap: 36px;

  -moz-column-gap: 36px;

  column-gap: 36px;
}

.socials li {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--color-gray);
}

.socials li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.socials li img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  footer h2 {
    font-size: 2rem;
  }
  footer p {
    margin: 20px 0;
  }
}

@media screen and (max-width: 560px) {
  footer {
    padding: 40px 0;
  }
  .socials {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 18px;
    -moz-column-gap: 18px;
    column-gap: 18px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

form {
  width: 100%;
  margin: 40px 0;
  display: -ms-grid;
  display: grid;

  -ms-grid-columns: 1fr 40px 1fr;

  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}

.right-side {
  justify-items: end;
}

.input-block {
  margin-top: 40px;
  max-width: 480px;
  width: 100%;
}

.input-block input {
  width: 100%;
  margin-top: 20px;
  padding: 16px 24px;
  border-radius: 10px;
  background: var(--color-secondary);

  font-size: 1rem;
  font-family: "Nunito-Medium";
  color: var(--color-black);

  border: none;
}

.input-block input:focus {
  outline: 2px solid var(--color-primary);
}

.submit-button {
  -ms-grid-column-span: 2;
  grid-column: span 2;

  justify-items: center;
}

@media screen and (max-width: 560px) {
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .input-block {
    margin-top: 20px;
  }
  .input-block input {
    margin-top: 10px;
  }
}

header {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background: var(--color-secondary);
}

header.scrolled {
  background: var(--color-white);
}

header nav {
  padding: 20px;
  width: 100%;
  max-width: 1440px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav .logo img {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

header nav .logo h5 {
  font-size: 1.25rem;
  font-family: "Nunito-Extrabold";
}

header .burger {
  position: relative;
  display: none;

  width: 32px;
  height: 32px;
}

header .burger::before,
header .burger::after {
  content: "";
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

  position: absolute;
  left: 0;

  width: 100%;
  height: 2px;

  background: var(--color-black);
}

header .burger::before {
  top: calc(50% - 2px);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

header .burger::after {
  bottom: calc(50%);
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

header .burger:active::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

header .burger:active::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li a {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin: 0 30px;

  white-space: nowrap;
}
header nav ul li a.active {
  color: var(--color-primary);
}

header nav ul li a.active::after {
  background: var(--color-primary);
  -webkit-transform: scaleX(100%);
  -ms-transform: scaleX(100%);
  transform: scaleX(100%);
}

header nav ul li a::after {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;

  width: 100%;
  height: 2px;
  background: var(--color-black);

  -webkit-transform: scaleX(0);

  -ms-transform: scaleX(0);

  transform: scaleX(0);
}

header nav ul li a:hover::after {
  -webkit-transform: scaleX(100%);
  -ms-transform: scaleX(100%);
  transform: scaleX(100%);
}

header nav .button {
  margin-top: 0;
}

@media screen and (max-width: 1200px) {
  header nav .logo h5 {
    display: none;
  }
  header nav .button {
    min-width: auto;
    padding: 0;

    width: 50px;
    height: 50px;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  header nav .button p {
    display: none;
  }
  header nav .button svg {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  header .burger {
    display: block;
  }
  header nav ul {
    display: none;
  }
}

.intro {
  background: url("../assets/img/background.png") no-repeat center;
  background-size: cover;
  /*background-attachment: fixed;*/
}

.intro .content-left {
  max-width: 40%;
}

.intro-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro .subtitle {
  margin-top: 40px;
}

.intro-buttons .button:nth-child(2) {
  margin-left: 40px;
}

@media screen and (max-width: 1200px) {
  .intro .content-left {
    max-width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .intro .subtitle {
    margin-top: 20px;
  }
  .intro .content-left {
    max-width: 100%;
  }
  .intro-buttons .button:nth-child(2) {
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .intro-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .intro-buttons .button:nth-child(2) {
    margin-left: 0;
  }
  .intro-buttons .button {
    margin-top: 20px;
  }
}

.review-container {
  max-width: 1440px;
  width: 100%;
  margin: 60px auto;
  padding: 20px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.review {
  max-width: 320px;
  min-width: 240px;
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.review-avatar {
  width: 120px;
  height: 120px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--color-secondary);
  border-radius: 50%;
}

.review h6 {
  margin: 10px 0;
}

.review-rate {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.review-rate-star {
  margin: 10px 9px;
}

.review-rate-star svg path {
  fill: var(--color-secondary);
}

.review-rate-star.active svg path {
  fill: var(--color-primary);
}

.review p {
  text-align: justify;
  font-size: 1rem;
}
