.pagination {
  margin-top: 60px;
  display: flex;
  gap: 10px;
}

.pagination li {
  transition: 0.3s;
  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #888888;
  font-size: 1rem;
  border: 1px solid #ededed;
  border-radius: 15px;
}

.pagination li svg {
  width: 12px;
  height: 12px;
  fill: #888888;
}

.pagination li:hover {
  cursor: pointer;
  background: #ededed;
}

.pagination .active-page {
  color: #ffffff;
  background: #fe5f00;
}

.pagination .active-page:hover {
  opacity: 0.8;
  background: #fe5f00;
}

.pagination .disabled-page {
  opacity: 0.5;
}

.pagination .disabled-page:hover {
  cursor: default;
  background: #ffffff;
}

.pagination .available-page {
  border-color: #fe5f00;
}

.pagination .available-page svg {
  fill: #fe5f00;
}
