.testimonials {
  width: 100%;
  margin: 80px 0;
}

.testimonials h1 {
  text-align: center;
}

.testimonials ul {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 30px;
}

.testimonials ul li {
  width: 100%;
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #fff7ee;
  border-radius: 15px;
}

.testimonials ul li .testimonials-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials ul li h6 {
  max-width: 120px;
  text-align: center;
  margin-top: 20px;
  color: #fe5f00;
}

.testimonials ul li svg {
  width: 24px;
  height: 24px;
  fill: #fe5f00;
}
